#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,#009688 20%, #DADBD3 20%);
}

#chat {
    height: calc(100% - 140px);
    background-image: url("/Images/mine.jpg");
}

#searchbar {
    height: 50px;
}

/* contacts styles */
.user-banner {
    background-color: #EAEAEA;
    height: 60px;
}
#contacts {
    height: calc(100% - 140px);
}
.user-profile {
    height: 70px;
}
.profile-img {
    width: 50px;
}
#bell-box {
    align-self: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-left: 5px;
}

.received {

}
.sent {

}
