/* reset */
a {
    color: #B1B1B1;
}
/* general */
#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,#009688 20%, #DADBD3 20%);
}
/* right styles */
#chat {
    height: calc(100% - 140px);
    background-image: url("/Img/mine.jpg");
}
#chatbar {
    height: 70px;
    background-color: #EAEAEA;
}
#microphone {
    color: #6B7376;
}
/* left styles */
#searchbar {
    background-color: #EAEAEA;
    height: 50px;
}
#notifications {
    background-color: #8EDAFC;
}
.awesome-color {
    color: #B1B1B1;
}
.active {
    background-color: #B1B1B1;
}
/* contacts styles */
.user-banner {
    background-color: #EAEAEA;
    height: 60px;
}
#contacts {
    height: calc(100% - 170px);
}
.user-profile {
    height: 70px;
}
.profile-img {
    width: 50px;
}
#bell-box {
    align-self: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-left: 5px;
    color: #8EDAFC;
}

.received {

}
.sent {

}
